@model game1.Models.FaceInfo
@{
    ViewData["Title"] = "Index";
}

<h2>--------------HELLO--------------</h2>
<hr />
@using (Html.BeginForm())
{
    <input type="text" name="userName" />
    <input type="text" name="count" />
    <input type="submit" />
}>

<p>Hello to many little faces!</p>



